@using System.Threading
@using Musmetaniac.Web.Common.Models

@page "/recenttracks"

@implements IDisposable

@inject IRecurringJobFactory _recurringJobFactory
@inject IMusmetaniacApiRequestMessageProvider _musmetaniacApiRequestMessageProvider
@inject NavigationManager _navigation
@inject HttpClient _httpClient

<PageTitle>Recent tracks</PageTitle>

<Card>
    <TitleTemplate>
        <Title Level="3">Recent Tracks</Title>
    </TitleTemplate>
    <Body>
        <Space Direction="DirectionVHType.Vertical" Style="display: unset;">
            <SpaceItem style="display: flex; gap: 5px;">
                <Input Id="username" Placeholder="Username" @bind-Value="@InsertedUsername" Size="@InputSize.Large" Disabled="@_isUsernameSet" />
                @if (_isUsernameSet)
                {
                    <Button Type="@ButtonType.Default" Icon="@IconType.Outline.Edit" OnClick="@HandleEditUsernameClick" Size="@InputSize.Large"></Button>
                }
                <Button
                    Type="@ButtonType.Primary"
                    Icon="@(_isUsernameSet ? IconType.Outline.Reload : IconType.Outline.ArrowRight)"
                    OnClick="@RefreshRecentTracksAsync"
                    Size="@InputSize.Large"
                    Loading="@_isLoadingInProgress"
                    Disabled="@_isLoadingInProgress"
                >
                </Button>
            </SpaceItem>
            @if (!_errorMessage.IsNullOrEmpty())
            {
                <SpaceItem>
                    <Alert Message="@_errorMessage" Type="@AlertType.Error" />
                </SpaceItem>
            }
            <SpaceItem>
                Limit
                <Select
                    TItem="int"
                    TItemValue="int"
                    DataSource="new[] { 5, 10, 15 }"
                    Value="@_trackLimit"
                    ValueChanged="v => HandleLimitChangeAsync(v)"
                    Size="@InputSize.Small"
                    Style="width: 60px;"
                >
                </Select>
            </SpaceItem>
            <SpaceItem>
                Auto-refresh
                <Switch Checked="@_isAutoRefreshEnabled" OnChange="@HandleAutoRefreshOptionChange">
                    <CheckedChildrenTemplate>
                        <Icon Type="check"></Icon>
                    </CheckedChildrenTemplate>
                    <UnCheckedChildrenTemplate>
                        <Icon Type="close"></Icon>
                    </UnCheckedChildrenTemplate>
                </Switch>
            </SpaceItem>
        </Space>
    </Body>
</Card>

@if (_recentTracks.Count != 0)
{
    <Title Level="4" Style="margin-top: 20px; margin-bottom: 20px;">
        Recent Tracks for <Text Code>@_username</Text>
    </Title>
    @foreach (var track in _recentTracks.Take(_trackLimit))
    {
        <RecentTrack Track="@track" />
    }
}

@code {
    private readonly TimeSpan _pollingInterval = TimeSpan.FromSeconds(7);

    private List<RecentTracksModel.Track> _recentTracks = new();
    private RecurringJob _recentTracksPollingJob = null!;
    private CancellationTokenSource? _recentTracksFirstRequestCancellationTokenSource;
    private bool _isLoadingInProgress;
    private bool _isUsernameSet;
    private string _insertedUsername = "";
    private string _username = "";
    private int _trackLimit = 5;
    private bool _isAutoRefreshEnabled = true;
    private string? _errorMessage;

    [Parameter]
    [SupplyParameterFromQuery(Name = "username")]
    public string InsertedUsername
    {
        get => _insertedUsername;
        set
        {
            if (_insertedUsername == value)
                return;

            _insertedUsername = value;
            _navigation.UpdateQueryParameter("username", value);
        }
    }

    public void Dispose()
    {
        _recentTracksPollingJob.Dispose();
        CancelRecentTracksFirstRequestAndDisposeTokenSource();
        GC.SuppressFinalize(this);
    }

    protected override void OnInitialized()
    {
        _recentTracksPollingJob = _recurringJobFactory.CreateRecurringJob(RefreshRecentTracks, _pollingInterval);

        Task RefreshRecentTracks(CancellationToken cancellationToken) => _httpClient.SendRequestAsync<RecentTracksModel>(GetRecentTracksRequestMessage, cancellationToken,
            successCallback: model => AddRecentTracks(model.Tracks),
            executionStartedCallback: () =>
            {
                _isLoadingInProgress = true;
                StateHasChanged();
            },
            executionFinishedCallback: () =>
            {
                _isLoadingInProgress = false;
                StateHasChanged();
            });
    }

    private async Task HandleLimitChangeAsync(int value)
    {
        if (_trackLimit == value)
            return;
            
        _recentTracksPollingJob.Stop();
        _recentTracks.Clear();
        _trackLimit = value;

        if (_isUsernameSet)
            await RefreshRecentTracksAsync();
    }

    private void HandleAutoRefreshOptionChange(bool value)
    {
        if (value && _isUsernameSet)
            _recentTracksPollingJob.Run();
        else
            _recentTracksPollingJob.Stop();

        _isAutoRefreshEnabled = value;
    }

    private void HandleEditUsernameClick()
    {
        _isUsernameSet = false;
        CancelRecentTracksFirstRequestAndDisposeTokenSource();
        _recentTracksPollingJob.Stop();
        _recentTracks.Clear();
    }

    private async Task RefreshRecentTracksAsync()
    {
        var shouldResumePollingJob = _recentTracksPollingJob.IsStarted;
        _recentTracksPollingJob.Stop();

        _errorMessage = null;
        _username = InsertedUsername;

        if (_username.IsNullOrEmpty())
        {
            _errorMessage = "Username is required.";
            return;
        }

        _isUsernameSet = true;

        if (shouldResumePollingJob)
            _recentTracksPollingJob.Run();
        else
        {
            _recentTracksFirstRequestCancellationTokenSource ??= new CancellationTokenSource();

            await _httpClient.SendRequestAsync<RecentTracksModel>(GetRecentTracksRequestMessage, _recentTracksFirstRequestCancellationTokenSource.Token,
                successCallback: model =>
                {
                    AddRecentTracks(model.Tracks);

                    if (_isAutoRefreshEnabled)
                        _recentTracksPollingJob.Run();
                },
                failureCallback: message =>
                {
                    _isUsernameSet = false;
                    _errorMessage = message;
                },
                executionStartedCallback: () => _isLoadingInProgress = true,
                executionFinishedCallback: () => _isLoadingInProgress = false);
        }
    }

    private void AddRecentTracks(IEnumerable<RecentTracksModel.Track> newTracks)
    {
        // The track playing now is temporary and is updated with each request.
        // Since it may stop playing and disappear from the list, we always store one more track
        // to display tracks according to the selected limit.
        _recentTracks.RemoveAll(t => t.IsPlayingNow);
        _recentTracks = newTracks.Concat(_recentTracks).Take(_trackLimit + 1).ToList();
    }

    private HttpRequestMessage GetRecentTracksRequestMessage()
    {
        var mostRecentTrackScrobbledAt = _recentTracks.FirstOrDefault(t => !t.IsPlayingNow)?.ScrobbledAt;

        return _musmetaniacApiRequestMessageProvider.GetRecentTracksRequestMessage(_username, _trackLimit, from: mostRecentTrackScrobbledAt?.AddSeconds(1));
    }

    private void CancelRecentTracksFirstRequestAndDisposeTokenSource()
    {
        _recentTracksFirstRequestCancellationTokenSource?.Cancel();
        _recentTracksFirstRequestCancellationTokenSource?.Dispose();
        _recentTracksFirstRequestCancellationTokenSource = null;
    }
}
