@page "/recenttracks"
@using Musmetaniac.Web.Common.Models
@inject IPollingHelper _pollingHelper
@inject IMusmetaniacApiRequestMessageProvider _musmetaniacApiRequestMessageProvider
@inject NavigationManager _navigation

<PageTitle>Recent tracks</PageTitle>

<h1>Recent Tracks</h1>

Username <input type="text" value="@InsertedUsername" @onchange="HandleUsernameChange"/>
<button class="btn btn-primary" @onclick="HandleUpdateClick">Update</button>
<br/>

@if (!_errorMessage.IsNullOrEmpty())
{
    <b style="color:red">@_errorMessage</b>
    <br/>
}

Limit 
<select class="dropdown" value="@_trackLimit" @onchange="HandleLimitChange">
    @foreach (var number in Enumerable.Range(1, 5))
    {
        <option value="@number">@number</option>
    }
</select>
<br/>

@if (_recentTracks.Count != 0)
{
    <br/><br/>
    <h3>Recent tracks for "@_username"</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Track</th>
                <th>Artist</th>
                <th>Tags</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in _recentTracks.Take(_trackLimit))
            {
                <tr>
                    <td>
                        <a href="@track.Url">@track.Name</a>
                    </td>
                    <td>@track.ArtistName</td>
                    <td>
                        @foreach (var tag in track.TopTags)
                        {
                            <a href="@tag.Url">@tag.Name</a><text> | </text>
                        }
                    </td>
                    <td>
                        @if (track.IsPlayingNow)
                        {
                            <text>(Playing Now)</text>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@implements IDisposable
@code {
    private readonly TimeSpan _pollingPeriod = TimeSpan.FromSeconds(5);

    private List<RecentTracksModel.Track> _recentTracks = new();
    private PollingJob<RecentTracksModel> _recentTracksPollingJob = null!;

    private string _insertedUsername = "";
    private string _username = "";
    private int _trackLimit = 3;
    private string? _errorMessage;

    [Parameter]
    [SupplyParameterFromQuery(Name = "username")]
    public string InsertedUsername
    {
        get => _insertedUsername;
        set {
            _insertedUsername = value;
            _navigation.NavigateTo(_navigation.GetUriWithQueryParameter("username", value == "" ? null : value));
        }
    }

    public void Dispose()
    {
        _recentTracksPollingJob.Dispose();
        GC.SuppressFinalize(this);
    }

    protected override void OnInitialized()
    {
        _recentTracksPollingJob = _pollingHelper.CreatePollingJob(GetRecentTracksRequestMessage, new PollingJobOptions<RecentTracksModel>
        {
            SuccessCallback = model =>
            {
                // The track playing now is temporary and is updated with each request.
                // Since it may stop playing and disappear from the list, we always store one more track
                // to display tracks according to the selected limit.
                _recentTracks.RemoveAll(t => t.IsPlayingNow);
                _recentTracks = model.Tracks.Concat(_recentTracks).Take(_trackLimit + 1).ToList();
            },
            FailureCallback = message => _errorMessage = message,
            FinallyCallback = StateHasChanged,
            PollingPeriod = _pollingPeriod,
            StopOnFail = true,
        });


        HttpRequestMessage GetRecentTracksRequestMessage()
        {
            var mostRecentTrackScrobbledAt = _recentTracks.FirstOrDefault(t => !t.IsPlayingNow)?.ScrobbledAt;

            return _musmetaniacApiRequestMessageProvider.GetRecentTracksRequestMessage(_username, _trackLimit, from: mostRecentTrackScrobbledAt?.AddSeconds(1));
        }
    }

    private void HandleUsernameChange(ChangeEventArgs e)
    {
        InsertedUsername = e.Value?.ToString() ?? "";
    }

    private void HandleLimitChange(ChangeEventArgs e)
    {
        var shouldResumePolling = _recentTracksPollingJob.IsStarted;
        _recentTracksPollingJob.Stop();

        _trackLimit = int.Parse(e.Value!.ToString()!);
        _recentTracks.Clear();

        if (shouldResumePolling)
            _recentTracksPollingJob.Run();
    }

    private void HandleUpdateClick()
    {
        _recentTracksPollingJob.Stop();
        _errorMessage = null;
        _username = InsertedUsername;

        if (_username.IsNullOrEmpty())
        {
            _errorMessage = "Username is required.";
            _recentTracks.Clear();

            return;
        }

        _recentTracksPollingJob.Run();
    }
}
